[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cbinom"]
	path = cbinom
	url = https://github.com/ddalthorp/cbinom
[submodule "dwp"]
	path = dwp
	url = https://github.com/ddalthorp/dwp
[submodule "eoa3"]
	path = eoa3
	url = https://github.com/cran/eoa3
[submodule "GenEst"]
	path = GenEst
	url = https://github.com/ddalthorp/genest
